.cntl-state{
    padding-top: 80px;
}

.back-pic {
    /*background-image: url('pic/Cosmos01.jpg');*/
    background-color: orange;
    /*fake temporary*/
    background-size: cover;
    height: 100%;
}

.back-pic1 {
    background-image: url('pic/pic1.jpg');
    /* background-color: lightblue; */
    /*fake temporary*/
    background-size: cover;
    height: 100%;
}

.back-pic2 {
    /*background-image: url('pic/Cosmos01.jpg');*/
    background-color: #fff;
    /*fake temporary*/
    background-size: cover;
    height: 100%;
}

.back-pic3 {
    /*background-image: url('pic/Cosmos01.jpg');*/
    background-color: lightyellow;
    /*fake temporary*/
    background-size: cover;
    height: 100%;
}

.back-pic4 {
    /*background-image: url('pic/Cosmos01.jpg');*/
    background-color: violet;
    /*fake temporary*/
    background-size: cover;
    height: 100%;
}

html,
body {
    height: 100%;
}

.navb {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.navs {
    list-style-type: none;
    text-align: right;
    margin-bottom: 0;
}

.nav-item {
    font-size: 20px;
    padding: 20px;
    text-align: center;
    display: inline-block;
}

.navs a {
    color: #000;
}


.navs a:hover li{
    background-color: #eee;
    transition: 1s;
}
.navs a:hover{
    text-decoration: none;
}

.submit-item {
    font-size: 20px;
    padding: 100px 20px;
    text-align: center;
}

.s1-input{
    padding: 0;
    padding-right: 5px;
}

.result-black {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    margin-top: 1em;
}

.result {
    top: 300px;
}

.web-title {
    font-size: 160px;
    font-weight: bolder;
    text-shadow: 5px 10px lightgray;
    margin-top: 0%;
}

.web-description {
    font-size: 20px;
    margin-bottom: 20px;
}

.h1-title {
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
}

.p-word {
    font-size: 18px;
    font-weight: bolder;
    font: italic;
}

.desc-word {
    font-size: 24px;
    line-height: 60px;
}

.table-word {
    font-size: 24px;
}

.session1 {
    margin: 0px 150px;
    min-height: 100%;
}
.s1-input{
    padding: 0;
}

.s1-input input[type=password]{
    width: 95%;
    padding: 0;
    border: 0;
    height: 40px;
    margin-right: 5%;
}

.s1-input input[type=submit].btn-pass {
    width: 100%;
    height: 40px;
    padding: 5px;
    box-sizing: border-box;
}

/*.round-button-circle {
    margin: 0px auto;
    width: 60%;
    height: 60%;
    border-radius: 99%;
    border: 3px solid #00A99D;
    overflow: hidden;
    background: #4D4D4D;
}*/

.round-button-circle {
    position: relative;
    padding-bottom: 90%;
    border-radius: 50%;
    /*border: 10px solid #cfdcec;*/
    border: 3px solid #00A99D;
    overflow: hidden;
    /*  background: #4679BD;*/
    /*  box-shadow: 0 0 3px gray;*/
    background-size: cover;
    background-position: center;
}

/*.round-button-circle:hover {
  background: #30588e;
}*/

/*.round-button a {
  display: block;
  float: left;
  width: 100%;
  padding-top: 50%;
  padding-bottom: 50%;
  line-height: 1em;
  margin-top: -0.5em;
  text-align: center;
  color: #e2eaf3;
  font-family: Verdana;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
}*/

.round-button {
    width: 100%;
    height: 100%;
}

#Roger .box {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0);
    visibility: hidden;
    transition: 1s;
}

#Roger:hover .box{
    visibility: visible;
    background-color: rgba(0,0,0,0.5);
    border-radius: 50%;
}

#Roger .box p{
    color: rgba(255,255,255,0);
    transition: 1s;
}
#Roger:hover .box p{
    color: rgba(255,255,255,1);
}



#Roger {
    background-image: url("./pic/cat.jpg");
}

#articleMoon {
    background-image: url();
}

#PNWu {
    background-image: url();
}

#djfire {
    background-image: url();
}

#wei {
    background-image: url();
}

#gon-fu {
    background-image: url();
}

#blueblue{
    background-image: url();
}

#fish {
    background-image: url();
}
.white{
    color:  #fff;
}